<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@banco.edit.headline">Edit Banco</h1>
    <div>
        <a routerLink="/bancos" class="btn btn-secondary" i18n="@@banco.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@banco.id.label" label="Id" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@banco.nombre.label" label="Nombre" />
    <input type="submit" i18n-value="@@banco.edit.headline" value="Edit Banco" class="btn btn-primary mt-4" />
</form>
